<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ajax - json</title>
</head>
<body>

	<div id="disp"></div>
	
	<script>
		//1. ajax 요청 객체 생성 >> 반드시 1번
		var request;
		
		// 1-1 IE와 다른 브라우저는 Ajax 생성방법이 다르다.
		if (window.ActiveXObject){
			request = new ActiveXObject("Microsoft.XMLHTTP");
		}else{
			request = new XMLHttpRequest();
		}
		//alert(request) //확인 작업으로 넣기
		
		//2. ajax 요청 옵션 생성 >> 1번 이후에 3번 보다는 먼저
		request.open('GET', 'data.json');		
		
		//3. ajax 요청
		request.send('');
		
		//4. 상태 변화가 생겼을 때, 호출될 콜백 메소드 등록 >> 1번 이후에 아무곳에나
		//왜? 콜백 메소드는 순서와 상관없이 이벤트가 발생하면 호출되는 메소드기 때문
		request.onreadystatechange = function(){
			//4-1. 정상적으로 데이터를 받아왔다면 수행할 문장
			if(request.readyState == 4 && request.status >=200 && request.status<300){
				// 4-2. 받아온 문자열 - 현재까지는 json 문자열 >> JSON 파싱작업 필요
				var res = request.responseText;
				// 4-3. JSON 파싱 - 객체의 배열이 만들어짐
				var result = JSON.parse(res);
				
				// 4-4. 출력할 영역을 찾기
				var disp = document.getElementById("disp");
				var html = "";
				
				// 4-5. 빠른 열거식 배열 조회
				for(var idx in result){ //객체의 배열을  출력하는 방법 (자바스크립트식 방법)
					//alert(result[idx]) 열거가 정상 동작 하는지 확인
					html += '<p>' + result[idx].name +":" + result[idx].rank + '</p>';
				}
				disp.innerHTML = html;
				//alert(request); 4-2확인
			}
		};
	
	</script>
</body>
</html>