<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ajax 요청</title>
</head>
<body>
	<div>고정된 내용</div>
	<div id="disp">동적으로 변경되는 내용</div>
	<div>고정된 내용</div>
	
	<script>
		//ajax를 이용해서 data.txt 파일을 읽어서 disp 영역에 출력해보기
		//1.먼저 disp를 body에서 script로 찾아온다.
		var disp = document.getElementById("disp");
		
		//2. ajax 객체를 생성하기
		var request;
		if(window.ActiveXObject){
			request = new ActiveXObject("Microsoft.XMLHTTP")
		}else{
			request = new XMLHttpRequest();
		}
		
		// 3. 요청옵션을 생성 - data.txt를 GET 방식으로 요청
		request.open('GET', 'data.txt');
		
		// 4. send 부분이 요청을 전송
		request.send('');
		
		// 5. 콜백 메소드를 등록
		request.onreadystatechange = function(){
			// 5-1. 응답을 정상적으로 받는 경우의 처리
			if(request.readyState == 4 & request.status >= 200 && request.status <300){
				disp.innerHTML =request.responseText; // 5-2. 읽어온 데이터를 disp에 출력
			}
		}
	</script>	
	
</body>


</html>