<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> 박스의 경계선과 그림자 효과 </title>
<link rel = "stylesheet" href = ".././../Resources/css/0205style.css">

</head>
<body>
	<h1 class="korea"> Korea Railway System </h1>
	
	<div class="train"> KTX, KTX-산천 </div>
	<div class="train"> SRT </div>
	<div class="train"> 새마을호-ITX </div>
	<div class="train"> 무궁화호 </div>

	<!-- br을 여러번 쓰지 않고 다음 줄로 내리려면 float를 해제해야 한다. -->
	<div class="title"><h2>열차 종류</h2></div>
	
	<table>
		<tr>
			<th> 국가 Nation </th>
			<th> 수도 Capital</th>
		</tr>
	</table>
	
	<div class = "capital">
		<table>
			<tr>
				<td> 한국 </td>
				<td> 서울 </td>
			</tr>
			
			<tr>
				<td> 프랑스 </td>
				<td> 파리 </td>
			</tr>
			
			<tr>
				<td> 일본 </td>
				<td> 도쿄 </td>
			</tr>
			
			<tr>
				<td> 캐나다 </td>
				<td> 오타와 </td>
			</tr>
	
			<tr>
				<td> 미국 </td>
				<td> 워싱턴 D.C. </td>
			</tr>
			
			<tr>
				<td> 영국 </td>
				<td> 런던 </td>
			</tr>
	
			<tr>
				<td> 오스트리아 </td>
				<td> 빈 </td>
			</tr>
	
			<tr>
				<td> 중국 </td>
				<td> 베이징 </td>
			</tr>
			
			<tr>
				<td> 태국 </td>
				<td> 방콕 </td>
			</tr>
			
			<tr>
				<td> 폴란드 </td>
				<td> 바르샤바 </td>
			</tr>
	
			<tr>
				<td> 헝가리 </td>
				<td> 부다페스트 </td>
			</tr>
			
			<tr>
				<td> 체코 </td>
				<td> 프라하 </td>
			</tr>
	
			<tr>
				<td> 슬로바키아 </td>
				<td> 브라티슬라바 </td>
			</tr>
			
			<tr>
				<td> 독일 </td>
				<td> 베를린 </td>
			</tr>				
		</table>
	</div>
	
	<div id="transform"> 변환해보기 </div>
	
</body>
</html>