<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>자바스크립트 연산자</title>
</head>

<script>
	//자료형 확인 ("100" vs 100)
	document.write("자료형 : " + (typeof(100)) + "<br/>")
	document.write("자료형 : " + (typeof("100")) + "<br/>")
	
	//값만 확인 vs 자료형까지 비교 ("100" vs 100)
	document.write("==: " + (100 == "100") + "<br/>")
	document.write("===: " + (100 === "100") + "<br/>")
	
	//배열 (자바스크립트의 배열은 python의 리스트처럼 Linked list) 생성
	var ar = [100, 200, 300];
	delete ar[1];
	document.write(ar + "<br/>"); //값이 null이 되는 개념이라 ar[1]은 300이 아니라 null이다
	
	//객체의 클래스 종류를 확인
	var Person = function(){
		this.name="name";
	}
	var obj = new Person();
	document.write((obj instanceof Person) + "<br/>")
	
	// 올해가 윤년인지 알아보자!
	var year = 2029;
	var nal = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
	// year의 값이 윤년이라면 4의배수이고 100의 배수는 아닌 경우 또는 400의 배수인 경우
	if(year%4==0 && year%100!=0 || year%400==0){
		document.write(year + "는 윤년입니다.")
		nal[2] = 29
		document.write(" 따라서 2월은 총 " + nal[2] + "일 입니다." + "<br/>")
	}else{
		document.write(year +"는 윤년이 아닙니다.")
		document.write(" 따라서 2월은 총 " + nal[2] + "일 입니다." + "<br/>")
	}
	
	var temp = 5;
	
	// temp가 1이면 중식 2이면 한식 3이면 분식 나머지는 금식
	switch(temp){
		case 1:
			document.write("오늘의 메뉴는 중식입니다.");
			break;
		case 2:
			document.write("오늘의 메뉴는 한식입니다.");
			break;
		case 3:
			document.write("오늘의 메뉴는 분식입니다.");
			break;
		default:
			document.write("오늘은 금식입니다.");
			break;
	}

	
	
</script>


<body>

</body>
</html>